<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Worksphere</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  </head>

  <body>
    <nav>
      <div class="container main-nav flex">
        <a href="#" class="company-logo">
          <img
            src="{%static 'Resources/logo for hackathon.png'%}"
            alt="company-logo"
          />
        </a>
        <div class="nav-links">
          <ul class="flex">
            <li><a href="#" class="hover-link">Discover</a></li>
            <li><a href="#" class="hover-link">Jobs</a></li>
            <li><a href="#" class="hover-link">Learning</a></li>
            <li><a href="#" class="hover-link">People</a></li>
            <li><a href="#" class="hover-link secondary-button">Sign in</a></li>
            <li><a href="accounts/register" class="hover-link primary-button">Sign up</a></li>
          </ul>
        </div>c
      </div>
    </nav>
    <header>
      <div class="container header-section flex">
        <div class="header-left">
          <h1>Work Confidently</h1>
          <p>
            Worksphere is a remote user business and employment-focused social
            media platform that brings a one-stop destination for opportunities,
            connections, and interactions in the field of user's interest.
          </p>
          <a href="#" class="primary-button get-started-btn">Get Started</a>
        </div>
        <div class="header-right">
          <img src="{%static 'Resources/meeting.png' %}" alt="Hero image" />
        </div>
      </div>
    </header>

    <section class="companies-section">
      <div class="container">
        <div class="small-bold-text companies-header">
          The world’s best companies rely on Worksphere to make better
          recruitment decisions.
        </div>
        <div class="logos flex">
          <img
            class="logo"
            "{%static 'src="Resources/5b46e726a0fccf7d78d81585_logo_amazon.png'%}"
            alt=""
          />
          <img
            class="logo"
            "{%static 'src="Resources/5b46e726a09814d84e5a21c2_logo_asana.png'%}"
            alt=""
          />
          <img
            class="logo"
            "{%static 'src="Resources/5b46e726c3102cf1ebf0c2c0_logo_box.png'%}"
            alt=""
          />
          <img
            class="logo"
            "{%static 'src="Resources/5b46e8e6a0fccf20fed815e3_logo_taskrabbit.png'%}"
            alt=""
          />
          <img
            class="logo"
            "{%static ' src="Resources/5b46e8e6ee75f135fc390ab6_logo_airtable.png'%}"
            alt=""
          />
          <img
            class="logo"
            "{%static 'src="Resources/5b46e8e6b998def81a004629_logo_google.png'%}"
            alt=""
          />
          <img
            class="logo"
            "{%static 'src="Resources/5f7fda34692422757a1b3768_godaddy.svg'%}"
            alt=""
          />
        </div>
      </div>
    </section>
    <section class="features-section">
      <div class="container"></div>
    </section>
    <section class="mentoring"></section>
    <section class="learning"></section>
    <section class="FAQs"></section>
    <footer></footer>
    <div class="sub-footer"></div>

    <script
    "{%static 'src="https://kit.fontawesome.com/5cbfac4b1e.js'%}"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
